version: 2.1
orbs:
  android: circleci/android@3.2.0
jobs:
  build:
    executor:
      name: android/android_machine
      resource_class: large
      tag: default
    steps:
      - checkout
      - android/restore_gradle_cache
      - run:
          name: Execute Gradle
          command: |
            ./ci.sh
      - android/save_gradle_cache
workflows:
  build:
    jobs:
      - build:
          context: Sonatype
          filters:
            tags:
              only: /.*/
            branches:
              ignore:
                - gh-pages
